.footer {
	padding: 20px 0 30px;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	color: #666;
	a {
		color: #245fb3;
		text-decoration: underline;
	}
	.links {
		margin-bottom: 5px;
		line-height: 28px;
	}
	.copyright, .copyright a {
		color: #7679ca;
	}
	.search {
		width: 528px;
		height: 34px;
		margin: 0 auto 15px;
	}
}

// 隐藏百度统计logo
#baidu_statics {
	display: none;
}