.search-keyword {
	padding-top: 6px;
	font: 12px/16px "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",Arial,sans-serif;
	ul {
		li{
			float: left;
			margin-right: 18px;
			height: 18px;		
			position: relative;
			white-space: nowrap;
			a {
				color: #555;
				&:hover {
					color: #ff0202;
				}
			}
			a.hot {
				color: #ff0202;
			}
			img{
				position: absolute;
				right: -11px;
				top: 1px;
			}
		}
	}
}
