#logo {
	float: left;
	width: 148px;
	height: 90px;
	padding-top: 19px;
	.link-home {
		display: block;
		width: 136px;
		padding: 10px 0;
		img {
			width: 136px;
			height: 46px;
		}
	}
}

// 适配吸顶头部UI
.hdmini #logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 136px;
	height: 69px;
	padding-top: 0;
	.link-home {
		height: 62px;
		padding-top: 7px;
	}
}
