<div class="userbar userbar-logged">
	<div class="link-user"><span title="<%=name%>"><%=name%></span><i></i></div>
	<div class="link-bd">
		<a href="http://i.hao123.com/uc/video" target="_blank" class="link-uc">我的影视</a>
		<a href="http://www.hao123.com/api/logout?gotourl=<%=url%>&c=<%=uid%>" class="link-qt">退出</a>
	</div>
</div>
